<div class="bg-base flex-center">
    <div class="flex flex-col space-y-4 text-center">
        <!-- Friends list -->
        <div class="card text-center w-60">
            <div id="friends-list" class="space-y-2 mb-4">
                <!-- Friends checkboxes will be injected here -->
            </div>
            <a href="" id="invite-button" class="btn-primary">Invite</a>
        </div>
        <!-- Action buttons -->
        <a href="" id="build-button" class="btn-primary">Build</a>
        <a href="/tournament" class="btn-primary">Back</a> 
    </div>
</div>