# .github/CODEOWNERS
# This file designates code owners for specific files or directories
# The team members owner for all files in the services/ directory
services/authentication-service/src @cptfran
services/frontend-service/src @mottjes
services/game-service/src @mottjes @MemoCSales
services/tournament-service/src @frbeyer1 @MemoCSales
services/match-service/src @MemoCSales
services/user-management-service/src @cptfran
# The team lead is the code owner for all files
* @VictoriaLizCor


# Contributors: <!-- cptfran frbeyer1 MemoCSales mottjes VictoriaLizCor -->
