#ignore Enviroment variables
.env.tmp
**/.env
.env
secrets/
.vscode/
*.log
.tmp_extract
# services/authentication-service
# services/backend-service
# services/dns-service
# services/frontend-service
# services/game-service
# services/nginx-service
# services/user-management-service
.settings/
*.tar
users.csv
monitoring-services.code-workspace
volumes/

# Ignore node_modules in all subdirectories
node_modules/

# Ignore dependencies installed via npm or yarn
yarn.lock

# Ignore build files, logs, and temporary artifacts
dist/
coverage/
logs/
**/node_modules
**/*.log