<div class="bg-base flex-center flex-col">
    <div class="card w-100">
        <div class="text-center mb-8">
            <h1>- Friends -</h1>
        </div>

        <div class="mt-8 overflow-y-auto h-70">
            <table id ="friendsTable" class="w-full text-center border-separate border-spacing-4">
                <!-- Friends get inserted here -->
            </table>
        </div>

        <div class="flex items-center w-full mt-8">
            <input id="friendAddInput" placeholder="Display Name" type="text" class="input-field w-full">
            <button id="friendAddButton" class="btn-primary ml-2">Add</button>
        </div>
    </div>
</div>