<!-- <div class="bg-base flex-center">
    <div class="card flex flex-col items-center justify-center">
        <div class="text-lg font-bold mb-6">You are in the queue!</div>
        <div class="text-sm animate-pulse mb-12">Waiting for an opponent...</div>
        <a href="/home" class="btn-primary">Leave queue</a> 
    </div>
</div> --> 

<div class="bg-base flex-center">
    <div id="queueCard" class="card flex flex-col items-center justify-center">
        <!-- Initial view -->
        <div class="text-lg font-bold mb-6">Online Game Queue Options</div>
        <button id="joinBtn" class="btn-primary w-full mb-4">Join Queue</button>
        <a href="/play" class="btn-primary w-full">Back</a>
        <!-- button for leaving queue??? -->
    </div>
</div>