<!-- <div class="bg-base flex-center">
    <div class="card w-100 m-4">
      <h5 class="text-center mb-8 text-2xl font-bold tracking-tight text-gray-900">Local</h5>
      <p class="text-center mb-8 font-normal text-gray-700">Compete head-to-head with a friend on the same keyboard</p>
      <button class="btn-primary w-full">Start</button>
    </div>
    <div class="card w-100 m-4">
        <h5 class="text-center mb-8 text-2xl font-bold tracking-tight text-gray-900">Online</h5>
        <p class="text-center mb-8 font-normal text-gray-700">Join a queue to find an opponent and compete against players online</p>
        <button class="btn-primary w-full">Start</button>
    </div>
</div> -->

<div class="bg-base flex-center">
  <div class="flex flex-col space-y-4 text-center">
      <a href="/game" class="btn-primary">Local</a>
      <a href="/queue" class="btn-primary">Online</a>
  </div>
</div>