<nav class="fixed left-0 top-0 h-screen w-64 bg-black/65 flex flex-col">
    <div class="fixed left-2 top-4 w-60">
        <img src="/logo.png" alt="Logo" class="mx-auto">
    </div>
    <ul class="flex flex-col space-y-6 p-6 flex-grow justify-center">
        <li><a href="/play" class="btn-primary w-full text-center block">Play</a></li>
        <li><a href="/tournament" class="btn-primary w-full text-center block">Tournament</a></li>
        <li><a href="/settings" class="btn-primary w-full text-center block">Settings</a></li>
    </ul>
</nav>