<div class="fixed top-12 right-12 text-black text-sm">
        <div class="flex justify-end">
        <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-14 h-14 md:w-18 md:h-18 2xl:w-20 2xl:h-20 rounded-full border-2 border-pink-600 cursor-pointer">
        <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-300 rounded-lg shadow-sm w-44 absolute top-full right-0">
            <div class="py-2">

                <a href="/home" class="block px-4 py-2 hover:bg-gray-200">Home</a>
            </div>
            <div class="py-2">
                <a href="/profile" class="block px-4 py-2 hover:bg-gray-200">Profile</a>
                <a href="/friends" class="block px-4 py-2 hover:bg-gray-200">Friends</a>
            </div>
            <div class="py-1">
                <a href="/account" class="block px-4 py-2 hover:bg-gray-200">Account</a>
                <a id ="logoutLink" class="block px-4 py-2 hover:bg-gray-200 ">Logout</a>
            </div>
        </div>
    </div>
</div>
